$brand-color1: #2C355C;
$brand-color2: #77B94E;
$brand-color3: #3E4840;
$error-light: #FEF3F2;
$error-deep-light: #FDA29B;
$error-dark: #F04438;
$error-very-dark: #FF001F;
$success-light: #039855;
$faded-gray : #EDF3E9;
$light-gray: #667085;
$very-light-gray: #EDEEEF;
$semi-dark-gray: #8F96A5;
$dark-gray: #98A2B3;
$black : #000000;
$semi-black: #344054;
$dark-black: #232924;
$pure-white : #ffffff;
$input-text: #101828;
$off-white: #FAFAFA;
$inapp-brand-color1: #061140;
$inapp-brand-color2: #2C355C;
$inapp-brand-color3: #2C355C;
$inapp-brand-color4: #555E88;
$inapp-brand-color5: #D9FFC1;
$inapp-brand-color6: #293056;
$inapp-brand-color7: #E7EAEE;
$inapp-brand-color8: #4E5BA6;
$inapp-brand-color9: #ECEFFF;
$inapp-lightgray: #EAECF0;
$inapp-gray2: #D0D5DD;
$inapp-deep-green: #1D682D;