$border-radius: 8px;
$font-size-regular: 16px;
$font-size-big: 18px;
$font-size-small: 14px;
$font-size-smaller: 12px;
$input-normal-height: 56px;
$input-small-height: 40px;
$input-inapp-height: 48px;
$font-bold: 700;
$font-regular: 400;
$font-medium: 500;
$form-heading1: 40px;
$form-heading2: 20px;
$side-width: 240px
