@use "../../scss/shared/basiclayout" as *;

@import "../../scss/shared/constants";
@import "../../scss/shared/colors";


.landing-container{
    background: #F8FEF1;
    height: 100vh;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
        height: 100%;
    }
}
.heading-wrap{
    display: flex;
    padding: 25px 0;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
        padding: 15px 0;
    }
}
.landing-header{
    @include page-width;
    @include tiny-gray-border;
    @media screen and (max-width: 1024px) {
        @include mobile-width;
    }
}
.logo-wrap {
    img{
        width: 100%;
    }
}
.hero-wrap{
    // background: #F8FEF1;
    @include page-width;
    display: flex;
    position: fixed;
    bottom: 0;
    top: 125px;
    @media screen and (max-width: 1024px) {
        @include mobile-width;
        display: block;
        position: relative;
        top: 60px;
    }
}
.hero-ctas{
    display: flex;
    .link-btn{
        margin-right: 20px;
    }
}

.hero-content{
    flex-basis: 60%;
    padding-top: 8%;
}
.hero-msg{
    font-size: 20px;
    margin: 30px 0 45px;
    color: $brand-color3;
    line-height: 1.3;
    @media screen and (max-width: 1024px) {
        font-size: 16px;
    }
}
.hero-img{
    flex-basis: 40%;
    // background: url('../../assets/images/hero.png') no-repeat;
    // background-size: cover;
    // background-position: center;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 1024px) {
        position: relative;
        // top: 50px;
        margin-bottom: 50px;
        // bottom: -100px;
    }
}
.btn.link-btn{
    @include primary-button;
    padding: 24px 28px;
    height: 63px;
    display: flex;
    align-items: center;
    font-weight: $font-medium;
    @media screen and (max-width: 1024px) {
        padding: 20px 14px;
        height: 47px;
    }
    
}
.btn.link-btn-gray{
    @include gray-button;
    padding: 24px 28px;
    height: 63px;
    display: flex;
    align-items: center;
    font-weight: $font-medium;
    @media screen and (max-width: 1024px) {
        padding: 20px 14px;
        height: 47px;
    }
    &.signin{
        @media screen and (max-width: 1024px) {
            padding: 20px 25px;
            height: 45px;
        }
    }
}
.hero-headline{
    font-weight: $font-bold;
    font-size: 55px;
    line-height: 1.1;
    color: $black;
    @media screen and (max-width: 1024px) {
        font-size: 30px;
    }
}